:root {
	--primary: #FF7143;
	--white: #FFFFFF;
	--secondary: #5454D4;
	--black: #19191B;
	--textcolor: #696871;
	--darkOrange: #9F3919;
	--textfont: 'Mulish', sans-serif;
	--hfont: 'DM Sans', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--textfont);
	line-height: 30px;
	color: var(--textcolor);
	font-size: 20px;
}

.container {
	/* width: 1440px; */
	width: 80%;
	margin: auto;
}

.nav-container {
	width: 100%;
	padding: 30px 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 0 auto;
	width: 100%;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	list-style: none;
	width: 30%;
	text-align: center;
}

.nav-link {
	font-weight: 700;
	font-size: 15px;
	font-family: var(--hfont);
	text-decoration: none;
	color: var(--textcolor);
}

.nav-link:hover {
	color: var(--black);
	border-bottom: 2px solid var(--secondary);
	transition: all 0.1s ease-out;
}

.active-link {
	color: var(--black);
	border-bottom: 2px solid var(--secondary);
}

.menu-toggle {
	display: none;
}

.responsive-btn {
	display: none;
}

.btn {
	padding: 20px 60px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 10px;
	color: var(--white);
	text-decoration: none;
	border: none;
	font-family: var(--hfont);
}

.btn-primary {
	background-color: var(--primary);
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease in ease-in-out;
	background-color: var(--secondary);
}

/* Hero */
.hero {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	justify-items: center;
}


.left-item h1 {
	font-family: var(--hfont);
	font-size: 80px;
	font-weight: 700;
	line-height: 77px;
	color: var(--black);
}

.left-item p {
	margin: 30px 0 50px 0;
}

.btn-secondary {
	background-color: var(--secondary);
}

.right-item {
	/* justify-self: center; */
}

.right-item img {
	width: 100%;
}

.hero.hero-1 h1 {
	font-size: 50px;
	line-height: 57px;
}

.hero-2 {
	margin-top: 90px;
}

.hero-2 .left-item {
	width: 86%;
}

.hero.hero-2 h1 {
	font-size: 50px;
	line-height: 57px;
}

.hero-1 {
	margin-top: 144px;
}

.hero-1 .right-item {
	justify-self: start;
}

.hero-1 .left-item {
	width: 86%;
	justify-self: start;
}

.learnmore {
	color: var(--secondary);
	font-family: var(--hfont);
	font-weight: 700;
	font-size: 15;
}

.benefits {
	margin: 144px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 74px;
}

.text-benefits h4 {
	font-size: 24px;
	font-family: var(--hfont);
	color: var(--black);
	margin-bottom: 20px;
}

.text-benefits p {
	font-size: 16px;
}

@media screen and (max-width:768px) {
	.container {
		width: auto;
	}

	.nav-container {
		position: relative;
		padding: 1rem 0;
	}

	.logo {
		padding: 1rem;
		width: 40%;
	}


	.nav-menu {
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: 80px;
		background-color: var(--secondary);
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	.btn-started {
		display: none;
	}

	.nav-link:hover {
		color: var(--black);
		border: 1px solid var(--secondary);
		background-color: var(--white);
		transition: all 0.1s ease-out;
	}

	.nav-link.responsive-btn {
		display: block;
		background-color: var(--white);
		border: 2px solid var(--secondary);
		padding: 0.5rem 1rem;
		color: black;
	}

	.nav-link.responsive-btn:hover {
		background-color: var(--secondary);
		color: var(--white);
	}


	.nav-link {
		text-align: center;
		line-height: 60px;
		width: 100%;
		display: table;
		color: var(--white);
		font-weight: 700;
	}

	.active-link {
		border-bottom: none;
	}

	#mobile-menu {
		padding: 1rem;
	}

	.menu-toggle {
		display: block;

	}

	.menu-toggle .bar {
		display: block;
		background-color: var(--secondary);
		cursor: pointer;
		transition: all 0.3s ease-out;
	}

	.nav-menu.active {
		left: 0;
		opacity: 1;
		transition: all 0.5 ease;
		background-color: var(--secondary);
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
		transition: all 0.3s ease-out;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		transition: all 0.3s ease-out;
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		transition: all 0.3s ease-out;
	}

	main {
		padding: 0 1rem;
		overflow-x: hidden;
	}

	.left-item h1 {
		font-size: 40px;
		line-height: 56px;
	}

	.left-item p {
		font-size: 15px;
	}

	.btn {
		font-size: 15px;
		padding: 10px 30px;
	}

	.right-item {
		justify-self: center;
	}

	.right-item img {
		margin: 2rem 0;
	}

	.hero-1 .right-item {
		order: 1;
	}

	.hero.hero-1 h1,
	.hero.hero-2 h1 {
		font-size: 40px;
	}

	.hero-1 .right-item img {
		width: 80%;
		margin-top: -2rem;
	}

	.hero-2 .right-item img {
		width: 70%;

	}

	.hero-1 .left-item,
	.hero-2 .left-item {
		width: 100%;
		justify-self: center;
	}
}