:root {
	--primary: #FF7143;
	--white: #FFFFFF;
	--secondary: #5454D4;
	--black: #19191B;
	--textcolor: #696871;
	--darkOrange: #9F3919;
	--textfont: 'Mulish', sans-serif;
	--hfont: 'DM Sans', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--textfont);
	line-height: 24px;
}

.container {
	/* width: 1440px; */
	width: 70%;
	margin: auto;
}

.nav-container {
	width: 100%;
	padding: 30px 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 0 auto;
	width: 100%;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	list-style: none;
	width: 30%;
	text-align: center;
}

.nav-link {
	font-weight: 700;
	font-size: 15px;
	font-family: var(--hfont);
	text-decoration: none;
	color: var(--textcolor);
}

.nav-link:hover {
	color: var(--black);
	border-bottom: 2px solid var(--secondary);
	transition: all 0.1s ease-out;
}

.active-link {
	color: var(--black);
	border-bottom: 2px solid var(--secondary);
}

.menu-toggle {
	display: none;
}

.responsive-btn {
	display: none;
}

.btn {
	padding: 20px 60px;
	font-size: 17px;
	font-weight: 700;
	border-radius: 10px;
	color: var(--white);
	text-decoration: none;
	border: none;
	font-family: var(--hfont);
}

.btn-primary {
	background-color: var(--primary);
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease in ease-in-out;
	background-color: var(--secondary);
}

@media screen and (max-width:768px) {
	.container {
		width: auto;
	}

	.nav-container {
		position: relative;
		padding: 1rem 0;
	}

	.logo {
		padding: 1rem;
	}


	.nav-menu {
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: 80px;
		background-color: var(--secondary);

		/* left: -100%; */
		/* opacity: 0;
		transition: all 0.5s ease; */
	}

	.btn-started {
		display: none;
	}

	.nav-link:hover {
		color: var(--black);
		border: 1px solid var(--secondary);
		background-color: var(--white);
		transition: all 0.1s ease-out;
	}

	.nav-link.responsive-btn {
		display: block;
		background-color: var(--white);
		border: 2px solid var(--secondary);
		padding: 0.5rem 1rem;
		color: black;
	}

	.nav-link.responsive-btn:hover {
		background-color: var(--secondary);
		color: var(--white);
	}


	.nav-link {
		text-align: center;
		line-height: 60px;
		width: 100%;
		display: table;
		color: var(--white);
		font-weight: 700;
	}

	.active-link {
		border-bottom: none;
	}

	#mobile-menu {
		padding: 1rem;
	}

	.menu-toggle {
		display: block;
	}

	.menu-toggle .bar {
		display: block;
		background-color: var(--secondary);
		cursor: pointer;
	}

}